.order-0{
    padding-top: 100px;
    padding-bottom:100px;
}
.sec3i{
    padding-top: 100px;
    padding-bottom:100px;
}



.all{
    padding-left: 650px;padding-right: 20px;
}
.app{
    padding-left:20px;
    padding-right: 20px;
}
.Card{
    padding-left: 20px;
    padding-right: 20pxpx;
}
.web{padding-right: 650px;
padding-left: 20px;}
.head{text-align: center;}
.img{
    border-radius: 20px;
}
.fa-brands{
    padding-right: 200px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.slide{
    animation: fade;
    animation-duration: 1.5s;
}
@keyframes fade{
    from{opacity: .6}
    to{opacity: 1}

}
#map {
    height: 600px;  
    width: 600px;  
  }
p{ 
    color:red
}
#ani1 {
    position: relative;
    animation: slidein 3s forwards;
  }

  @keyframes slidein {
    from {
      left: -100%;
    }
    to {
      left:0;
    }
  }